# Node modules
node_modules/
**/node_modules/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local
# Build and dist
frontend/build/
backend/dist/

# System and IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db
